.content {
  padding: 1rem;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  align-content: center;
  border-radius: 25px;
}

.contentPortfolio {
  padding: 1rem;
  margin: 1rem;
  background-color: #e8f0ef;
  align-content: center;
  border-radius: 25px;
}
/* This changes the image padding and width of images on the site for contistancy */
.portrait {
  display: block;
  padding: 1rem;
  width: 12rem;
  height: auto;
}

.card {
  margin-bottom: 20px;
}
/* This changes the color and font-face of the headers used within the main content boxes */
h1 {
  color: #4aaaa5;
  font-family: "Staatliches", cursive;
  font-weight: bold;
}

/* This changes the color and text of the main navigation text header */
h2 {
  color: #bcb4c4;
  font-family: "Staatliches", cursive;
}

h4 {
  color: #2d2327;
  font-family: "Staatliches", cursive;
}
/* Changes the font and color of the button on the contact page */
.btn {
  color: white;
  background-color: #45364b;
  font-family: "Staatliches", cursive;
  padding: 1rem;
  transition: 0.5s ease;
  width: 200px;
  height: 50px;
  margin: auto;
  border: none;
}

/* Changes the color of the button on the Contact page when hovering over it */
.btn:hover {
  color: white;
  transition: 0.5s ease;
  background-color: teal;
  font-size: large;
}

a {
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* This is the attributes for the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #2d2327;
  border-top: #bcb4c4 solid;
  font-family: "Staatliches", cursive;
  border-width: 5px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

.App-link {
  color: #61dafb;
}

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */
